.highlights-timeline {
  display: flex;
  overflow-x: auto;
  padding: 12px 16px;
  border-top: 1px solid #ddd;
  gap: 12px;
}

.highlight-button {
  padding: 8px 16px;
  border: 2px solid var(--border-color);
  border-radius: 10px;
  background-color: var(--background-light);
  cursor: pointer;
  font-size: 15px;
  white-space: nowrap;
}

.highlight-button:hover {
  background-color: var(--primary-color-hover);
  transform: scale(1.03);
}

.highlight-button.active {
  background-color: var(--primary-color);
  color: var(--background-light);
}
