.custom-controls {
  display: flex;
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%); /* centers panel */
  gap: 12px;
  padding: 6px;
}
.custom-controls button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: var(--primary-color);
  color: var(--text-color-light);
}
.custom-controls button:hover {
  background-color: #3399ff;
  transform: scale(1.05);
}
