.player-list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 10px;
  padding: 10px;
}

.player-items-list {
  max-height: calc(100vh - 180px);
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  gap: 10px;
}

.player-list-item {
  display: flex;
  flex-direction: column;
  background-color: var(--background-light);
  padding: 12px 16px;
  cursor: pointer;
  border: 2px solid var(--border-color);
  border-radius: 20px;
}

.player-list-item:hover {
  background-color: var(--primary-color-hover);
  transform: translateY(-2px) scale(1.03);
}

.player-list-item.active {
  background-color: var(--primary-color);
}

.player-list-item.active .player-initials-circle {
  background-color: var(--background-light);
  color: var(--primary-color);
}

.player-list-item.disabled {
  pointer-events: none;
}

.player-info-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.player-initials-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: var(--text-color-light);
  font-weight: bold;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-name-row {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 15px;
  overflow-wrap: break-word; /* wrap long names */
  word-break: break-word; /* ensures long words break */
}

.player-list-item.active .player-name-row {
  color: var(--text-color-light);
}

.player-list-loading,
.player-list-info {
  text-align: center;
  padding: 20px 10px;
  color: #6c757d;
  font-style: italic;
  font-size: 15px;
}
