@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

:root {
  --primary-color: #4a90e2;
  --primary-color-hover: #d6e4fa;

  --text-color-light: #f7f7f7;

  --background-light: #ffffff;
  --background-dark: #121212;

  --border-color: #e0e0e0;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Arial", sans-serif;
}

body {
  margin: 0;
  background: #ffffff;
}

.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
